<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SignupFilter</filter-name>
        <filter-class>filter.SignupFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResetPasswordFilter</filter-name>
        <filter-class>filter.ResetPasswordFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResetPasswordFilter</filter-name>
        <servlet-name>ResetPasswordServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SignupFilter</filter-name>
        <servlet-name>SignupServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailController</servlet-name>
        <servlet-class>controller.EmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingControl</servlet-name>
        <servlet-class>controller.SettingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingServlet</servlet-name>
        <servlet-class>servlet.SettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingUpdate</servlet-name>
        <servlet-class>servlet.SettingUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPaging</servlet-name>
        <servlet-class>servlet.QuestionPaging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDetail</servlet-name>
        <servlet-class>servlet.QuestionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionControl</servlet-name>
        <servlet-class>controller.QuestionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>servlet.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailController</servlet-name>
        <url-pattern>/EmailController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetail</servlet-name>
        <servlet-class>servlet.UserDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountControl</servlet-name>
        <servlet-class>controller.AccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControl</servlet-name>
        <servlet-class>controller.AdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPaging</servlet-name>
        <servlet-class>servlet.UserPaging</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountControl</servlet-name>
        <url-pattern>/AccountControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControl</servlet-name>
        <url-pattern>/AdminControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPaging</servlet-name>
        <url-pattern>/UserPaging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetail</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingControl</servlet-name>
        <url-pattern>/SettingControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingServlet</servlet-name>
        <url-pattern>/SettingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingUpdate</servlet-name>
        <url-pattern>/SettingUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionPaging</servlet-name>
        <url-pattern>/QuestionPaging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionDetail</servlet-name>
        <url-pattern>/QuestionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionControl</servlet-name>
        <url-pattern>/QuestionControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
